.universo_saraiva {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.universo_saraiva .header .menu a {
    font-size: .9em !important;
}

.universo_saraiva .topo {
    background: #545353;
    background: -moz-linear-gradient(top, #545353 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #545353 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #545353 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545353', endColorstr='#ffffff', GradientType=0);
}

.universo_saraiva .topo .content {
    text-align: center;
    margin: 80px auto 0px;
}

.universo_saraiva .topo h2 {
    color: #fff;
    padding: 0px 0px 5px;
}

.universo_saraiva .slider {
    position: relative;
    margin: 15px auto;
    padding: 0;
}

.universo_saraiva .slider>.slick-list {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.universo_saraiva .topo .slider:after {
    content: attr(data-category);
    position: absolute;
    margin: 0 auto;
    width: 90%;
    border-bottom: 5px solid #ffdd00;
    transform: translateX(-50%);
    left: 50%;
    padding-bottom: 5px;
    padding-top: 18px;
    z-index: 1;
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    font-size: 1.25em;
    font-weight: 600;
    text-align: left;
    top: 0;
}

.universo_saraiva .slider .slide {
    position: relative;
}

.universo_saraiva .slider .slide__content {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.universo_saraiva .slider .slide__content:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 1%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 1%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 1%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000', GradientType=0);
    height: 100%;
    width: 100%;
}

.universo_saraiva .slider .slide__content>a {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
}

.universo_saraiva .slider .slide__content h3 {
    position: absolute;
    margin: 0 auto;
    width: calc(100% - 40px);
    border-bottom: 5px solid #ffdd00;
    transform: translateX(-50%);
    left: 50%;
    padding-bottom: 5px;
    padding-top: 18px;
    z-index: 1;
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    font-size: 1.25em;
    font-weight: 600;
    text-align: left;
}

.universo_saraiva .slider .slide__content p {
    position: absolute;
    z-index: 1;
    bottom: 19px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    font-size: 1.25em;
    font-weight: 400;
    text-align: center;
}

.universo_saraiva .slider .slide__content img {
    width: 100%;
    height: auto;
}

.universo_saraiva .slider .slick-arrow {
    width: 33px;
    height: 33px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    border: 0;
    text-indent: -9999px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    margin: 0 20px;
    cursor: pointer;
}

.universo_saraiva .slider .slick-arrow:after {
    content: "";
    background: url('../img/Arrow-Up-icon.png') no-repeat scroll center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.universo_saraiva .slider .slick-arrow.slick-prev {
    left: 0;
}

.universo_saraiva .slider .slick-arrow.slick-next {
    right: 0;
    transform: translateY(-50%) rotate(180deg);
}

.universo_saraiva section h2 {
    font-family: 'Work Sans';
    color: #000000;
    font-size: 1.625em;
    font-weight: 400;
    line-height: 1.939;
    text-align: center;
    padding: 50px 0 25px;
    margin: 0;
}

.universo_saraiva section.grey {
    background: #eaeaea;
}

.universo_saraiva .marcas .box__marcas {
    border-radius: 10px;
    border-width: 1px;
    border-color: #dcdcdc;
    border-style: solid;
    padding: 43.5px 0px;
    margin: 14px auto;
}

.universo_saraiva .marcas .box__marcas .marca {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.universo_saraiva .marcas .box__marcas .marca span {
    border-radius: 50%;
    background-color: #ffdd00;
    width: 107px;
    height: 107px;
    position: relative;
    text-align: center;
    padding: 21px 0px 22px;
    color: #121212;
    font-size: 1.25em;
    font-weight: 600;
    margin-top: -22px;
}

.universo_saraiva .marcas .box__marcas .marca span i {
    background: url(../img/icon_tecnologia.png) no-repeat center scroll;
    width: 54px;
    height: 64px;
    display: inline-block;
    text-align: center;
    margin: 0px auto 22px;
}

.universo_saraiva .marcas .box__marcas .marca span.tecnologia i {
    background: url(../img/icon_tecnologia.png) no-repeat center scroll;
}

.universo_saraiva .marcas .box__marcas .marca span.papelaria i {
    background: url(../img/icon_papelaria.png) no-repeat center scroll;
}

.universo_saraiva .marcas .box__marcas .marcas ul {
    padding: 0;
    column-count: 2;
    list-style-type: disc;
}

.universo_saraiva .marcas .box__marcas .marcas ul>li {
    margin: 0px auto 0;
    color: #292929;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.556;
    text-align: left;
    list-style: disc inside;
}

.universo_saraiva .marcas .box__marcas .marcas ul>li>a {
    color: inherit;
    text-decoration: none;
}

.universo_saraiva .marcas .box__marcas .marcas ul>li>a:hover {
    font-weight: 700;
}

.universo_saraiva .listas h3 {
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    color: #121212;
    font-weight: 600;
    font-size: 1.75em;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
}

.universo_saraiva .listas ul {
    padding: 23px 25px;
    margin-top: 6px;
}

.universo_saraiva .listas ul:not(:empty) {
    min-width: 190px;
    border-top: 5px solid #ffdd00;
}

.universo_saraiva .listas ul:empty {
    width: 35px;
    border-top: 5px solid rgba(0, 0, 0, .2);
}

.universo_saraiva .listas ul:empty+h3 {
    color: rgba(0, 0, 0, .6);
}

.universo_saraiva .listas ul>li {
    font-family: 'Work Sans', sans-serif;
    color: #292929;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.556;
    text-align: left;
    list-style: disc;
}

.universo_saraiva .listas ul>li>a {
    text-decoration: none;
    color: inherit;
}

.universo_saraiva .listas ul>li>a:hover {
    font-weight: 700;
}

.universo_saraiva .listas .lista {
    margin: 0px 10px;
    max-width: 190px;
    display: flex;
    flex-direction: column-reverse;
}

.universo_saraiva .listas .slick-arrow{
    transform: translateY(-50%) translateX(-60px);
}
.universo_saraiva .listas .slick-arrow.slick-next{
    transform: translateY(-50%) translateX(-60px) rotate(180deg);
}

.universo_saraiva .links {
    column-count: 1;
    column-gap: 13px;
    width: 100%;
    margin: 0 auto 50px;
    text-align: center;
}

.universo_saraiva .links>.link {
    width: 100%;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #cacaca;
    background-color: rgba(144, 222, 180, 0);
    max-width: 316px;
    height: 68px;
    margin: 0px auto 26px;
    border-radius: 45px;
    color: #636363;
    display: inline-flex;
    align-items: center;
}

.universo_saraiva .links>.link:hover {
    background-color: #ffdd00;
    box-shadow: 0px 2px 0px 0px #c5ac0d;
    border-width: 2px;
    border-color: transparent;
    color: #0d0d0d;
    font-weight: 600;
}

.universo_saraiva .links>.link>a {
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: inherit;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: inherit;
    margin: 0 auto;
}

.universo_saraiva .load-more {
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #cacaca;
    background-color: rgba(144, 222, 180, 0);
    max-width: 316px;
    max-height: 68px;
    padding: 23px 25px;
    border-radius: 45px;
    color: #636363;
    margin: 26px auto;
}

.universo_saraiva .load-more:hover {
    background-color: #ffdd00;
    box-shadow: 0px 2px 0px 0px #c5ac0d;
    border-width: 2px;
    border-color: transparent;
    color: #0d0d0d;
    font-weight: 600;
}

.universo_saraiva .load-more>a {
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: inherit;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: inherit;
}

@media only screen and (min-width: 576px) {
    .universo_saraiva .marcas .box__marcas .marcas ul {
        column-count: 3;
    }
}

@media only screen and (min-width: 767px) {
    .universo_saraiva .links {
        column-count: 4;
    }
}