*, ::after, ::before {
    box-sizing: inherit
}
.universo_saraiva {
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
}

.section {
    padding: 40px 0;
}

.section h2 {
    width: 100%;
    border-bottom: 2px solid #333;
    margin: 0px 0px 20px;
    font-size: 1.7857142857142858em;
    padding-bottom: 5px;
}

.section__botao .titulo {
    margin-bottom: 20px;
    text-align: center;
}

.section__botao .titulo a {
    border-radius: 3px;
    background-color: #fff;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    border: 1px solid #eff3f6;
    font-size:  0.9em;
    text-transform: uppercase;
}

.section__botao .titulo a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .08);
    font-weight:bold;
}

.section__link .titulo a {
    color: #24282b;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.571;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    text-decoration: none;
    padding: 0 0 4px 0;
}
.section__link .titulo a:hover {
    font-weight: bold;
}

.section:not(.section__topo) .items {
    transition: .3s all;
    overflow: hidden;
    max-height: 255px;
}
.section .box__ver_mais{
    display: none;
}
.section .box__ver_mais.d-flex{
    display: flex;
}
.section .box__ver_mais a {
    margin: 0 auto;
    width: 258px;
    height: 48px;
    line-height: 48px;
    border-radius: 25px;
    border: 1px solid #000;
    text-align: center;
    text-decoration: none;
    color: #000;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 25px;
    font-weight: bold;
}
.section .box__ver_mais  a.disabled:hover{
   font-weight:bold;
}

.section .box__ver_mais a.disabled {
    pointer-events: none;
    opacity: .3;
}

.section__topo {
    background: #545353;
    background: -moz-linear-gradient(top, #545353 0%, #ffffff 65%);
    background: -webkit-linear-gradient(top, #545353 0%, #ffffff 65%);
    background: linear-gradient(to bottom, #545353 0%, #ffffff 65%);
    padding-top: 60px;
}

.section__topo h2 {
    color: #24282b;
    font-size: 1.563em;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    border: 0;
    margin: 20px 0;
    text-transform: none;
}

.section__topo .items .item {
    width: 198px;
    height: 48px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
}

.section__topo .items .item a {
    /* background: #333; */
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: #333;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    font-size: 1em;
    text-transform: uppercase;
}

.section__topo .items .item a:before {
    width: 100%;
    position: absolute;
    top: 5px;
    background-color: #fff;
    content: attr(data-content);
    height: 48px;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__topo .items a.button__marcas {
    background: #1e6dfd;
}

.section__topo .items a.button__editoras {
    background: #ff7825;
}

.section__topo .items a.button__autores {
    background: #ff505a;
}

.section__topo .items a.button__influenciadores {
    background: #fad200;
}

.section__topo .items a.button__listas {
    background: #01b47d;
}

.section__topo .items a.button__pÃƒÂ¡ginas_especiais {
    background: #976ebe;
}

.section__topo .items a.button__lojas_parceiras {
    background: #019ba3;
}

.section__topo .items a.button__categorias_e_departamentos {
    background: #1d6dff;
}
.section__topo .items .item a:hover {
   font-weight:bold;
}
.section__topo .assuntos .assunto {
    margin-bottom: 30px;
}

.section__topo .assunto a >.col-auto{
    padding: 5px;
}


.section__topo .assuntos .assunto a {
    color: #24282b;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 25px;
    transition: .3s transform;
}

.section__topo .assuntos .assunto a:hover {
    transform: scale(1.1);

}

.section__topo .assuntos .assunto a:hover p{
    font-weight: 700;

}

.section__topo .assuntos .assunto div>p {
    max-width: 60px;
    text-align: left;
}

.section__topo .assuntos .assunto img {
    width: 55px;
    border-radius: 100%;
}

.section__marcas h2 {
    border-bottom: 2px solid #1e6dfd;
}

.section__editoras h2 {
    border-bottom: 2px solid #fd7927;
}

.section__autores h2 {
    border-bottom: 2px solid #ff505a;
}

.section__influenciadores h2 {
    border-bottom: 2px solid #fad200;
}

.section__listas h2 {
    border-bottom: 2px solid #01b47c;
}

.section__pÃƒÂ¡ginas_especiais h2 {
    border-bottom: 2px solid #976ebd;
}

.section__lojas_parceiras h2 {
    border-bottom: 2px solid #019ba3;
}

.section__categorias_e_departamentos h2 {
    border-bottom: 2px solid #1a6fff;
}

.section:nth-child(odd) {
    background-color: #eff3f6;
}

.categories, .letters {
    margin-bottom: 21px;
    padding-left: 18px;
    font-size:1em;
}

.categories a, .letters a {
    text-decoration: none;
    color: #000;
    border: 2px solid transparent;
    border-radius: 25px;
    transition: .3s padding;
    line-height: 30px;
    border-width: 0px;
}

.letters a {
    text-transform: capitalize;
    border: 2px solid transparent;
    padding:0 15px;
}
.categories a.active, .letters a.active {
    border: 2px solid currentColor;
    color: #1e6dfd;
    font-weight: bold;
    padding: 0 15px;
}

.categories a:hover, .letters a:hover {
    font-weight: bold;
}

.categories-autores {
    width: 100%;
    justify-content: space-between;
    font-size: 1em;
}

.categories-autores a.active, .categories-autores a:focus {
    border-radius: 25px;
    border: 2px solid #ff505a;
    text-decoration: none;
    font-weight: bold;
    color: #ff505a;
}

.categories-livros a.active, .categories-livros a:focus {
    border-radius: 25px;
    border: 2px solid #01b47c;
    text-decoration: none;
    font-weight: bold;
    color: #01b47c;
}

.categories-livros {
    width: 100%;
    font-size: 1em;
}

.categories-paginas a.active, .categories-paginas a:focus {
    border-radius: 25px;
    border: 2px solid #976ebd;
    text-decoration: none;
    font-weight: bold;
    color: #976ebd;
}

.categories-parceiras a.active, .categories-parceiras a:focus {
    border-radius: 25px;
    border: 2px solid #019ba3;
    text-decoration: none;
    font-weight: bold;
    color: #019ba3;
}

.categories-parceiras {
    width: 100%;
    justify-content: space-between;
    font-size: 1em;
}

.select__filter>div {
    margin: 20px 0;
}

.menu__links a {
    font-size: .9em;
}